<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--link rel="shortcut icon" href="../../assets/ico/favicon.ico"-->

  <title>Office of Hawaiian Affairs Grantees and Sponsorships</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="static/css/styles.css" rel="stylesheet">
  <!-- Angular scripts -->
  <script src="static/bower_components/jquery/dist/jquery.js"></script>
  <script src="static/bower_components/bootstrap.min.js"></script>
  <script src="static/bower_components/angular/angular.js"></script>
  <script src="static/bower_components/satellizer.min.js"></script>
  <script src="static/bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
  <script src="static/bower_components/angular-sanitize.js"></script>
  <script src="static/bower_components/bootstrap-datepicker.js"></script>
  <link href="static/bower_components/datepicker.css" rel="stylesheet">
  <script src="static/bower_components/slick-carousel/slick/slick.js"></script>
  <script src="static/bower_components/angular-slick-carousel/dist/angular-slick.min.js"></script>
  <script src="static/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="static/bower_components/angularUtils-pagination/dirPagination.js"></script>
  <script src="static/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="static/bower_components/ui-bootstrap-tpls-1.3.2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js%22%3E"></script>

</head>

<body>
  <div class="row">
    <div class="container">

      <div id="OHAimg">
        <img src="static/images/OHA.jpg" width="150" height="65" style="float: left;" />
      </div>

      <div id="HawaiiLogoimg">
        <img src="static/images/HawaiiLogo.jpg" width="100" height="100" style="float: right;" />
      </div>

      <div class ="large-title" style="text-align:center">
        <h1>
          Office of Hawaiian Affairs
          <br>
          Grantees and Sponsorships
        </h1>
      </div>
    </div>
  </div>

  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">OHA Grantees and Sponsorships</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="listings">Listings</a></li>
          <li><a href="qa">QA</a></li>
          <li><a href="contactus">Contact Us</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <br />
  <div class="w3-row w3-border">
    <div class="w3-container w3-quarter" style="padding: 5px; filter: alpha(opacity=80); opacity: 0.80;">
      <div class="card card-inverse text-center" style="background-color: white; border-color: white; padding: 10px; border-radius: 25px;">
        <div class="card-block">
          <i class="fa fa-laptop" style="font-size:28px"></i>
          <h3 class="card-title">Total visitors:</h3>
          <p class="card-text" style="text-align:center; font-size:24px"><div align='center'><a href='http://www.free-website-hit-counter.com'>
            <img src='http://www.free-website-hit-counter.com/c.php?d=4&id=108141&s=1' border='2' title='free website hit counter'></a><br / ></div></p>
        </div>
      </div>
    </div>
    <div class="w3-container w3-quarter" style="padding: 5px; filter: alpha(opacity=80); opacity: 0.80;">
      <div class="card card-inverse text-center" style="background-color: yellow; border-color: yellow; padding: 10px; border-radius: 25px;">
        <div class="card-block">
          <i class="fa fa-dollar" style="font-size:28px"></i>
          <h3 class="card-title">Total Grants:</h3>
          <p class="card-text" style="text-align:center; font-size:24px">$49,657,023.80</p>
        </div>
      </div>
    </div>
    <div class="w3-container w3-quarter" style="padding: 5px; filter: alpha(opacity=80); opacity: 0.80;">
      <div class="card card-inverse text-center" style="background-color: #33BBFF; border-color: blue; padding: 10px; border-radius: 25px;">
        <div class="card-block">
          <i class="fa fa-file" style="font-size:28px"></i>
          <h3 class="card-title">Grants Given:</h3>
          <p class="card-text" style="text-align:center; font-size:24px">574</p>
        </div>
      </div>
    </div>
    <div class="w3-container w3-quarter" style="padding: 5px; filter: alpha(opacity=80); opacity: 0.80;">
      <div class="card card-inverse text-center" style="background-color: #E033FF; border-color: purple; padding: 10px; border-radius: 25px;">
        <div class="card-block">
          <i class="fa fa-paperclip" style="font-size:28px"></i>
          <h3 class="card-title">Grant types:</h3>
          <p class="card-text" style="text-align:center; font-size:24px">4</p>
        </div>
      </div>
    </div>
    <div class="w3-container w3-quarter" style="padding: 5px; filter: alpha(opacity=80); opacity: 0.80;">
      <div class="card card-inverse text-center" style="background-color: orange; border-color: orange; padding: 10px; border-radius: 25px;">
        <div class="card-block">
          <i class="fa fa-calendar" style="font-size:28px"></i>
          <h3 class="card-title">Serving since:</h3>
          <p class="card-text" style="text-align:center; font-size:24px">1978</p>
        </div>
      </div>
    </div>
    <div class="w3-container w3-quarter" style="padding: 5px; filter: alpha(opacity=80); opacity: 0.80;">
      <div class="card card-inverse text-center" style="background-color: #00FFFF; border-color: #00FFFF; padding: 10px; border-radius: 25px;">
        <div class="card-block">
          <i class="fa fa-group" style="font-size:28px"></i>
          <h3 class="card-title">Organizations:</h3>
          <p class="card-text" style="text-align:center; font-size:24px">286</p>
        </div>
      </div>
    </div>
    <div class="w3-container w3-quarter" style="padding: 5px; filter: alpha(opacity=80); opacity: 0.80;">
      <div class="card card-inverse text-center" style="background-color: pink; border-color: pink; padding: 10px; border-radius: 25px;">
        <div class="card-block">
          <i class="fa fa-user-circle" style="font-size:28px"></i>
          <h3 class="card-title">Total Served:</h3>
          <p class="card-text" style="text-align:center; font-size:24px">135,586</p>
        </div>
      </div>
    </div>
    <div class="w3-container w3-quarter" style="padding: 5px; filter: alpha(opacity=80); opacity: 0.80;">
      <div class="card card-inverse text-center" style="background-color: #7CFC00; border-color: tan; padding: 10px; border-radius: 25px;">
        <div class="card-block">
          <i class="fa fa-home" style="font-size:28px"></i>
          <h3 class="card-title">Total NH Served:</h3>
          <p class="card-text" style="text-align:center; font-size:24px">27,055</p>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-container" style="text-align:center">
    <br />
    <h3>More information</h3>
  </div>
  <br />
  <div class="w3-row w3-border">
    <div class="w3-container w3-quarter">
      <h3><u>News and Updates</u></h3>
      <br />
      <p>Dec 14, 2017 - Expected due date for website</p>
      <p>Dec 1, 2017 - Milestone 2</p>
      <p>Nov 1, 2017 - Milestone 1</p>
      <p>Sept 23, 2017 - HACC 2017 ended</p>
      <p>Aug 26, 2017 - First started the website for HACC 2017</p>
      <br />
    </div>
    <div class="w3-container w3-quarter">
      <h3><u>About Us</u></h3>
      <br />
      <p>
        This website is created by team Lucio for the HACC of 2017. Even after the HACC 2017 are continuing to update the website.
        For more information please check our <a href="https://oha-grant-listings.herokuapp.com/contactus">Contact Us page</a>
      </p>
    </div>
    <div class="w3-container w3-half">
      <h3><u>About this website</u></h3>
      <br />
      <p>
        This website is a helpful way for the public and government officials to
        search through different grants and sponsorships. It includes previous
        historical data that you can compare and see more information about the
        grant or sponsorship. It also allows users to narrow down searchers to find
        which grant applies to them.
      </p>
    </div>
  </div>

</br>
<br />
<div style="text-align:center">
  <h3>Please go to the <a href="http://127.0.0.1:5000/contactus">Contact Us</a>
    page to fill out a survey to improve our website!</h3>
  </div>
</br>

<footer>
  <div style="text-align:center" class="footer">
    <hr>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Contact Information <i class="fa fa-angle-down" style="font-size:18px"></i></button>
    <div id="demo" class="collapse">
      <br />
      <p><a href="https://github.com/ohagrantwebsite/ohagrantwebsite">Team Lucio</a></p>
      <p>Department of Information and Computer Sciences</p>
      <p>University of Hawaii</p>
      <p>Honolulu, HI 96822</p>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="static/bower_components/slick-carousel/slick/slick.min.js"></script>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="static/js/angularapp.js"></script>
-->
</div>
<script type="text/javascript">
$(document).ready(function(){
  $('.your-class').slick({
    arrows: true,
    dots: true,
    autoplay: true
  });
});
</script>

</body>

</html>
