<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--link rel="shortcut icon" href="../../assets/ico/favicon.ico"-->

  <title>Office of Hawaiian Affairs Grantees and Sponsorships</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="static/bower_components/fontawesome/css/font-awesome.min.css">
  <link href="static/css/styles.css" rel="stylesheet">

  <!-- Angular scripts -->
  <script src="static/bower_components/jquery/dist/jquery.js"></script>
  <script src="static/bower_components/bootstrap.min.js"></script>
  <script src="static/bower_components/angular/angular.js"></script>
  <script src="static/bower_components/satellizer.min.js"></script>
  <script src="static/bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
  <script src="static/bower_components/angular-sanitize.js"></script>
  <script src="static/bower_components/bootstrap-datepicker.js"></script>
  <link href="static/bower_components/datepicker.css" rel="stylesheet">
  <script src="static/bower_components/slick-carousel/slick/slick.js"></script>
  <script src="static/bower_components/angular-slick-carousel/dist/angular-slick.min.js"></script>
  <script src="static/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="static/bower_components/angularUtils-pagination/dirPagination.js"></script>
  <script src="static/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="static/bower_components/ui-bootstrap-tpls-1.3.2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js%22%3E"></script>
  <!-- Highcharts scripts -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/static/highcharts/code/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/data.js"></script>
  <script src="/static/highcharts/code/modules/exporting.js"></script>
  <!-- Angular App scripts -->
  <script src="static/js/app.js"></script>
  <script src="static/js/routes.js"></script>
  <script src="static/js/listings.js"></script>
</head>

<body>

  <div class="su-grid">

    <div class="row">
      <div class="ui container">

        <div id="OHAimg">
          <img src="static/images/OHA.jpg" width="150" height="65" style="float: left;" />
        </div>

        <div id="HawaiiLogoimg">
          <img src="static/images/HawaiiLogo.jpg" width="100" height="100" style="float: right;" />
        </div>

        <div class ="large-title" style="text-align:center">
          <h1>
            Office of Hawaiian Affairs
            <br>
            Grantees and Sponsorships
          </h1>
        </div>

      </div>
    </div>

  </div>

  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">OHA Grantees and Sponsorships</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="listings">Listings</a></li>
          <li><a href="listingsHS">Listings Highcharts Style</a></li>
          <li><a href="qa">QA</a></li>
          <li><a href="contactus">Contact Us</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div id="container1" style="width:1024px; min-width: 310px; height: 400px; margin: 0 auto"></div>
  <button id="plain">Plain</button>
  <div id="locationyear" style="width:1024px; min-width: 310px; height: 400px; margin: 0 auto"></div>
  <div id="strategicpriority" style="width:1024px; min-width: 310px; height: 400px; margin: 0 auto"></div>
  <div id="strategicresult" style="width:1024px; min-width: 310px; height: 400px; margin: 0 auto"></div>

  <script type="text/javascript">
  var chart = Highcharts.chart('container1', {
    chart: {
      type: 'column'
    },
    title: {
      text: 'Grant Types Per Year'
    },
    subtitle: {
      text: 'Grant type vs Fiscal year'
    },
    xAxis: {
      categories: [
        '2013',
        '2014',
        '2015',
        '2016',
      ],
      crosshair: true
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Amount of Grants per Year'
      }
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
      '<td style="padding:0"><b>{point.y:.1f} Grants</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
    },
    plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 0
      }
    },
    series: [{
      name: 'Community Grant',
      data: [30, 34, 33, 27]

    }, {
      name: 'Bot Initiative',
      data: [10, 18, 13, 12]

    }, {
      name: 'Ahahui',
      data: [30, 30, 32, 30]

    }, {
      name: 'Sponsorship',
      data: [30, 30, 32, 30]

    }]
  });

  $('#plain').click(function () {
    chart: {
      type: 'column'
    },
    title: {
      text: 'Grant Types Per Year'
    },
    subtitle: {
      text: 'Grant type vs Fiscal year'
    },
    xAxis: {
      categories: [
        '2013',
        '2014',
        '2015',
        '2016',
      ],
      crosshair: true
    },
    yAxis: {
      min: 0,
      title: {
        text: 'Amount of Grants per Year'
      }
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
      '<td style="padding:0"><b>{point.y:.1f} Grants</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
    },
    plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 0
      }
    },
    series: [{
      name: 'Hawaii',
      data: [17, 17, 18, 19]

    }, {
      name: 'Statewide',
      data: [19, 18, 19, 20]

    }, {
      name: 'Oahu',
      data: [82, 68, 67, 47]

    }, {
      name: 'Kauai',
      data: [3, 8, 5, 3]

    },{
      name: 'Maui',
      data: [12, 12, 7, 11]

    },{
      name: 'Internation',
      data: [4, 3, 2, 0]

    },{
      name: 'Continent',
      data: [11, 7, 11, 18]

    },{
      name: 'Molokai',
      data: [9, 10, 8, 8]

    },{
      name: 'Multiple',
      data: [0, 2, 2, 2]

    },{
      name: 'Polynesia',
      data: [0, 0, 0, 2]

    },]
  });
});
</script>

<script type="text/javascript">
Highcharts.chart('strategicpriority', {
  chart: {
    type: 'column'
  },
  title: {
    text: 'Grant Types Per Year'
  },
  subtitle: {
    text: 'Grant type vs Fiscal year'
  },
  xAxis: {
    categories: [
      '2013',
      '2014',
      '2015',
      '2016',
    ],
    crosshair: true
  },
  yAxis: {
    min: 0,
    title: {
      text: 'Amount of Grants per Year'
    }
  },
  tooltip: {
    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
    '<td style="padding:0"><b>{point.y:.1f} Grants</b></td></tr>',
    footerFormat: '</table>',
    shared: true,
    useHTML: true
  },
  plotOptions: {
    column: {
      pointPadding: 0.2,
      borderWidth: 0
    }
  },
  series: [{
    name: 'Education',
    data: [28, 23, 17, 14]

  }, {
    name: 'Culture',
    data: [57, 47, 47, 48]

  }, {
    name: 'Economic Self-Sufficiency',
    data: [15, 16, 15, 14]

  }, {
    name: 'Health',
    data: [29, 29, 24, 24]

  },{
    name: 'Land & Water',
    data: [13, 16, 13, 19]

  },{
    name: 'Governance',
    data: [17, 15, 23, 11]

  },]
});
</script>

<script type="text/javascript">
Highcharts.chart('strategicresult', {
  chart: {
    type: 'column'
  },
  title: {
    text: 'Grant Types Per Year'
  },
  subtitle: {
    text: 'Grant type vs Fiscal year'
  },
  xAxis: {
    categories: [
      '2013',
      '2014',
      '2015',
      '2016',
    ],
    crosshair: true
  },
  yAxis: {
    min: 0,
    title: {
      text: 'Amount of Grants per Year'
    }
  },
  tooltip: {
    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
    '<td style="padding:0"><b>{point.y:.1f} Grants</b></td></tr>',
    footerFormat: '</table>',
    shared: true,
    useHTML: true
  },
  plotOptions: {
    column: {
      pointPadding: 0.2,
      borderWidth: 0
    }
  },
  series: [{
    name: 'Exceed Education Standards',
    data: [28, 23, 17, 9]

  }, {
    name: 'Participate in Culture',
    data: [11, 14, 15, 11]

  }, {
    name: 'Increase Family Income',
    data: [8, 8, 8, 6]

  }, {
    name: 'Decrease Chronic Disease Rates',
    data: [16, 12, 7, 11]

  },{
    name: 'Build Stability in Housing',
    data: [7, 8, 7, 8]

  },{
    name: 'Achieve Pae Aina Sustainability',
    data: [13, 16, 13, 19]

  },{
    name: 'Value History and Culture',
    data: [46, 33, 32, 42]

  },{
    name: 'Priority Level',
    data: [17, 15, 23, 11]

  },{
    name: 'Improve Family Lifestyle',
    data: [13, 17, 17, 13]

  },]
});
</script>

<div ng-app="oha">
  <div ui-view class="slide-left"></div>
</div>

<footer>
  <div style="text-align:center" class="footer">
    <hr>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Contact Information <i class="fa fa-angle-down" style="font-size:18px"></i></button>
    <div id="demo" class="collapse">
      <br />
      <p><a href="https://github.com/ohagrantwebsite/ohagrantwebsite">Team Lucio</a></p>
      <p>Department of Information and Computer Sciences</p>
      <p>University of Hawaii</p>
      <p>Honolulu, HI 96822</p>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="static/js/angularapp.js"></script>
-->

</body>
</html>
