<div class="wrap">
  <div class="search">
    <input type="text" class="searchTerm" placeholder="Search">
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>

  <div ui-view="table"></div>



<div class="container" role="main">
    <div class ="starter-template">
    <div class="row">
    <div class="col-md-12">
        <input type="texta" ng-model="inputText"></input>
        <hr>
        [{inputText}]
    </div>
  </div>
  </div>
</div><!-- /.container -->
