<!-- <div class="wrap">
  <div class="search">
    <input type="text" class="searchTerm" placeholder="Search">
    <button type="submit">Search
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>

  <div ui-view="table"></div> -->

  <style>
  /* Style The Dropdown Button */
  .dropbtn {
      background-color: black;
      color: white;
      padding: 8px 10px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      position: relative;
      display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      background-color: #3e8e41;
  }
  </style>

  <div class="wrap">
      <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()">Dropdown</button>
        <div class="dropdown-content" id="myDropdown">
          <a href="">Fiscal Year</a>
          <a href="">Grant Type</a>
          <a href="">Organization</a>
          <a href="">Project</a>
          <a href="">Amount</a>
          <a href="">Location</a>
          <a href="">Strategic Priority</a>
          <a href="">Strategic Results</a>
          <a href="">Total # Served</a>
          <a href="">NH Served</a>
          <a href="">Grant Status ID</a>
        </div>
      </div>
      <a href="{{ /app.py }}"><input type="text" class="searchTerm" placeholder="Search"></a>
      <a href="{{ /app.py }}">
        <button class="searchbutton" type="submit">Search
        <i class="fa fa-search"></i>
      </button></a>
    </div>

  <br />

  <div ui-view="table"></div> -->
