<div ng-controller="displaytable" >

  <div ng-if="has_results==1" role="main">
      <div class="row">
      <div class="col-md-6 col-md-offset-4 centered">
          <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
      </div>
    </div>
  </div><!-- /.container -->

  <table ng-if="has_results==1" class="compact celled definition table">
    <thead class="full-width">
      <tr>
      <th>Analyze</th>
      <th>Compare</th>
      <th ng-repeat="heading in headings">[{heading}]</th>
      </tr>
    </thead>
    <tbody>
      <tr dir-paginate="grant in grants | itemsPerPage: grantsPerPage" total-items="totalGrants" current-page="pagination.current">
        <td class="collapsing">
          <div class="fitted slider checkbox">
            <input type="checkbox"> <label></label>
          </div>
        </td>
        <td class="collapsing">
          <div class="fitted slider checkbox">
            <input type="checkbox"> <label></label>
          </div>
        </td>
        <td ng-repeat="col in grant track by $index">[{ grant[headings[$index]] }]</td>
      </tr>
    </tbody>
  </table>
  <button ng-if="has_results==1" class="button">Analyze</button>
  <button ng-if="has_results==1" class="button">Compare</button>

  <div ng-if="has_results==0" class="">No Results Found</div>
  <div ng-if="has_results==1" role="main">
      <div class="row">
      <div class="col-md-6 col-md-offset-4 centered">
          <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
      </div>
    </div>
  </div><!-- /.container -->

  <div class="container" role="main">
      <div class ="starter-template">
      <div class="row">
      <div class="col-md-12">
      </div>
    </div>
    </div>
  </div><!-- /.container -->


</div>
